<div class="card">
    <!-- img card -->
    <img class="card-img-top" [src]="data.img" [alt]="data.title">
    <div appHover defaultColor="yellow" class="card-body">
        <!-- price -->
        <div class="text-primary"><strong>{{ data.price | price:'₾' }}</strong></div>
        <!-- title -->
        <h5 class="card-title">{{ data.title }}</h5>
        <!-- date -->
        <small>{{ data.insertDate | date:'d MMM yyyy' }}</small>
        <!-- description -->
        <p class="card-text">{{ data.descr }}</p>
        <button (click)="sendData()" class="btn btn-primary">send to parent</button>
    </div> 
</div>